rt {
    text-shadow: 0px 0px 1px #fc0 !important;
    font-size: 0.75em !important;
    font-weight: normal !important;
}

ruby {
    font-size: 1.25em !important;
    margin-right: 0.5em !important;
}